---
name: postgres
services:
  pg-admin:
    image: dpage/pgadmin4:9.10.0
    container_name: pgadmin
    depends_on:
      - postgres-db
    volumes:
      - ./pgadmin:/var/lib/pgadmin
    environment:
      - TZ=America/Chicago
    env_file:
      - .env
    networks:
      - private
      - proxy
    restart: unless-stopped
    healthcheck:
      test: wget -nv -t 1 --spider http://localhost:80/misc/ping || exit 1
      interval: 60s
      retries: 5
      start_period: 20s
      timeout: 10s
    labels:
      - traefik.enable=true
      - traefik.http.routers.pgadmin.entrypoints=websecure
      - traefik.http.routers.pgadmin.rule=Host(`pgadmin.local.jstockley.com`)
      - traefik.http.routers.pgadmin.tls=true
      - traefik.http.routers.pgadmin.tls.certresolver=production
      - traefik.http.routers.pgadmin.service=pgadmin
      - traefik.http.services.pgadmin.loadbalancer.server.port=80
    security_opt:
      - no-new-privileges:true

  postgres-db:
    image: postgres:18.0-alpine
    container_name: postgres
    volumes:
      - ./postgres:/var/lib/postgresql/18/docker
    environment:
      - TZ=America/Chicago
    env_file:
      - .env
    networks:
      - private
    restart: unless-stopped
    healthcheck:
      test: pg_isready -U jackstockley
      interval: 60s
      retries: 5
      start_period: 20s
      timeout: 10s
    security_opt:
      - no-new-privileges:true

networks:
  private:
    name: private
    internal: true
    external: true
  proxy:
    name: proxy
    external: true
