---
global:
  checkNewVersion: false
  sendAnonymousUsage: false

accessLog:
  filePath: "/var/log/traefik/access.log"
  format: json
  fields:
    defaultMode: keep
    names:
      StartUTC: drop

log:
  filePath: "/var/log/traefik/traefik.log"
  format: json

serversTransport:
  insecureSkipVerify: true

api:
  dashboard: true
  insecure: true

entryPoints:
  web:
    address: :80
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
    forwardedHeaders:
      trustedIPs:
        - "127.0.0.1/32"
        - "172.0.0.0/8"
        - "172.64.0.0/13"
  ping:
    address: :8082
    forwardedHeaders:
      trustedIPs:
        - "127.0.0.1/32"
        - "172.0.0.0/8"
        - "172.64.0.0/13"

  websecure:
    address: :443
    transport:
      respondingTimeouts:
        readTimeout: 24h # Allows uploads > 100MB; prevents connection reset due to chunking (public upload-only links)
        idleTimeout: 600s
        writeTimeout: 600s
    http:
      # Required for Nextcloud to correctly handle encoded URL characters (%2F and %3F in this case) in newer Traefik versions (v3.6.4+).
      encodedCharacters:
        allowEncodedSlash: true
        allowEncodedQuestionMark: true
    forwardedHeaders:
      trustedIPs:
        - "127.0.0.1/32"
        - "172.0.0.0/8"
        - "172.64.0.0/13"

  minecraft:
    address: :25565/tcp
    forwardedHeaders:
      trustedIPs:
        - "127.0.0.1/32"
        - "172.0.0.0/8"
        - "172.64.0.0/13"

ping:
  entryPoint: "ping"

certificatesResolvers:
  production:
    acme:
      email: jack@jstockley.com
      storage: /etc/traefik/certs/acme.json
      caServer: "https://acme-v02.api.letsencrypt.org/directory"
      dnsChallenge:
        provider: cloudflare
        resolvers:
          - "1.1.1.1:53"
          - "1.0.0.1:53"

tls:
  options:
    default:
      minVersion: VersionTLS13

providers:
  docker:
    exposedByDefault: false
  file:
    directory: /etc/traefik
    watch: true
