ENCRYPTION_KEY=E8E4EuwaXV8LJzbAxyJk0vYBqCtT5ik4vY4nOLZ3lp4=
LOG_LEVEL=INFO
DATABASE_URL=-sqlite+aiosqlite:///./data/unifi_toolkit.db
DEPLOYMENT_TYPE=production
AUTH_USERNAME=admin
AUTH_PASSWORD_HASH=$2y$10$kCSdkYuZvWrKvPRtiXuQF.YY2I0KNvnc2f2sEwGdM0mTNPHFBxDv6%
UNIFI_CONTROLLER_URL=https://192.168.1.1
UNIFI_API_KEY=s7PMxL_XrZePBRD57_iSy3YrDVUVs7F_
UNIFI_SITE_ID=default
UNIFI_VERIFY_SSL=false
STALKER_REFRESH_INTERVAL=60
