---
name: beszel
services:
  beszel:
    image: henrygd/beszel-agent:0.16.0
    container_name: beszel-agent-synology
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    env_file:
      - .env
    ports:
      - '0.0.0.0:45876:45876'
    restart: always
    healthcheck:
      test: ['CMD', '/agent', 'health']
      start_period: 5s
      interval: 120s
      timeout: 10s
      retries: 5
    security_opt:
      - no-new-privileges:true
