# Database
FORGEJO__database__DB_TYPE=
FORGEJO__database__HOST=
FORGEJO__database__NAME=
FORGEJO__database__USER=
FORGEJO__database__PASSWD=

# Mailer
FORGEJO__mailer__ENABLED=
FORGEJO__mailer__PROTOCOL=
FORGEJO__mailer__SMTP_ADDR=
FORGEJO__mailer__SMTP_PORT=
FORGEJO__mailer__USER=
FORGEJO__mailer__PASSWD=
FORGEJO__mailer__FROM=

# OpenID
FORGEJO__openid__WHITELISTED_URIS=
