---
name: bsn
services:
  bsn:
    image: jnstockley/bsn:v2.1.1
    container_name: bsn
    volumes:
      - ./data:/app/data
      - ./logs:/app/logs
    env_file:
      - .env
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
