---
name: api
services:
  api:
    image: jnstockley/api:v0.2.25
    container_name: api
    environment:
      - TZ=America/Chicago
    env_file:
      - .env
    networks:
      - api
      - postgres
    restart: unless-stopped
    healthcheck:
      test: curl -sf http://127.0.0.1:5000/health-check || exit 1
      interval: 60s
      retries: 5
      start_period: 20s
      timeout: 10s
    labels:
      - traefik.enable=true
      - traefik.http.routers.api.entrypoints=websecure
      - traefik.http.routers.api.rule=Host(`api.jstockley.com`)
      - traefik.http.routers.api.tls=true
      - traefik.http.routers.api.tls.certresolver=production
      - traefik.http.routers.api.service=api
      - traefik.http.services.api.loadbalancer.server.port=5000
      - traefik.docker.network=api
    security_opt:
      - no-new-privileges:true

networks:
  api:
    name: api
    external: true
  postgres:
    name: postgres
    external: true
