---
name: uptime-kuma
services:
  uptime-kuma:
    image: louislam/uptime-kuma:2.0.2-slim
    container_name: uptime-kuma
    volumes:
      - ./data:/app/data
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - TZ=America/Chicago
    networks:
      - private
      - proxy
    restart: unless-stopped
    healthcheck:
      test: node ./extra/healthcheck.js
      interval: 60s
      retries: 5
      start_period: 180s
      timeout: 30s
    labels:
      - traefik.enable=true
      - traefik.http.routers.uptime-kuma.entrypoints=websecure
      - traefik.http.routers.uptime-kuma.rule=Host(`status.local.jstockley.com`)
      - traefik.http.routers.uptime-kuma.tls=true
      - traefik.http.routers.uptime-kuma.tls.certresolver=production
      - traefik.http.routers.uptime-kuma.service=uptime-kuma
      - traefik.http.services.uptime-kuma.loadbalancer.server.port=3001
    security_opt:
      - no-new-privileges:true

networks:
  proxy:
    name: proxy
    external: true
  private:
    name: private
    internal: true
    external: true
