---
name: wireguard
services:
  wireguard:
    image: linuxserver/wireguard:1.0.20250521@sha256:86162326ae1438bead45fdcdd6d50b0014c808221a08b47ce2cc1032dbb600c3
    container_name: wireguard
    volumes:
      - ./config:/config
      - /lib/modules:/lib/modules
    environment:
      - TZ=America/Chicago
    env_file:
      - .env
    network_mode: 'host'
    restart: unless-stopped
    healthcheck:
      test: curl --fail https://google.com || exit 1
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 100s
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    security_opt:
      - no-new-privileges:true
