---
name: cloudflared
services:
  cloudflared:
    image: cloudflare/cloudflared:2026.1.2
    container_name: cloudflared
    environment:
      - TZ=America/Chicago
    network_mode: 'host'
    command: proxy-dns --upstream https://dns.jstockley.com/dns-query --upstream https://security.cloudflare-dns.com/dns-query run
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
