---
name: Docker Deploy

on:
  pull_request:
    branches:
      - main
    types:
      - closed
    paths:
      - docker/racknerd/**/compose.yml
      - docker/photo-server/**/compose.yml
      #  - docker/chicago-rpi/**/compose.yml

jobs:
  get_changed_files:
    name: Get changed files
    runs-on: ubuntu-latest
    outputs:
      racknerd_file_changes: ${{ steps.racknerd-changes.outputs.changed_files }}
      photo_server_file_changes: ${{ steps.photo-server-changes.outputs.changed_files }}
      chicago_rpi_file_changes: ${{ steps.chicago-rpi-changes.outputs.changed_files }}
    steps:
      - name: Step 1 - Set Timezone
        run: sudo timedatectl set-timezone America/Chicago

      - name: Step 2 - Checkout code
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
        with:
          fetch-depth: 0

      - name: Step 3 - Get changed files between branches for Racknerd
        id: racknerd-changes
        run: ./scripts/diffs.sh ${{ github.base_ref }} ${{ github.head_ref }} "docker/racknerd"

      - name: Step 4 - Get changed files between branches for Photo Server
        id: photo-server-changes
        run: ./scripts/diffs.sh ${{ github.base_ref }} ${{ github.head_ref }} "docker/photo-server"

        # - name: Step 4 - Get changed files between branches for Chicago RPI
        #   id: chicago-rpi-changes
        #   run: ./scripts/diffs.sh ${{ github.base_ref }} ${{ github.head_ref }} "docker/chicago-rpi"

  racknerd_deploy:
    name: Deploy new Docker Container to Racknerd
    runs-on: ubuntu-latest
    environment: racknerd
    needs: get_changed_files
    if: ${{ needs.get_changed_files.outputs.racknerd_file_changes != '' }}
    steps:
      - name: Step 1 - Checkout code
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98

      - name: Step 2 - Prepare SSH commands
        id: racknerd-ssh
        env:
          RACKNERD_SERVER_FILES: ${{ needs.get_changed_files.outputs.racknerd_file_changes }}
        run: |
          PROCESSED_FILES=$(echo "$RACKNERD_SERVER_FILES" | tr ',' ' ')
          SSH_COMMANDS="cd ~/infrastructure/ && git reset --hard origin/main && git pull"

          for file in $PROCESSED_FILES; do
            SSH_COMMANDS="$SSH_COMMANDS && echo \"Deploying $file\" && docker compose -f $file up -d --force-recreate --remove-orphans"
          done

          SSH_COMMANDS="$SSH_COMMANDS && docker image prune -a -f && docker system prune -f"

          # publish as step output
          echo "ssh_commands<<'EOF'" >> $GITHUB_OUTPUT
          printf '%s\n' "$SSH_COMMANDS" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Step 3 - Deploy to Racknerd Server
        uses: jnstockley/gh-ssh-action@v1.0.0-b1
        with:
          host: ${{ secrets.IP }}
          username: jackstockley
          private_key: ${{ secrets.SSH_KEY }}
          command: ${{ steps.racknerd-ssh.outputs.ssh_commands }}

  photo_server_deploy:
    name: Deploy new Docker Container to Photo Server
    runs-on: ubuntu-latest
    environment: photo-server
    needs: get_changed_files
    if: ${{ needs.get_changed_files.outputs.photo_server_file_changes != '' }}
    steps:
      - name: Step 1 - Checkout code
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98

      - name: Step 2 - WireGuard Connection
        run: |
            sudo apt-get update
            sudo apt-get install -y wireguard resolvconf expect
            echo "${{ secrets.VPN }}" > wg0.conf
            sudo chmod 600 wg0.conf
            sudo cp wg0.conf /etc/wireguard/
            sudo wg-quick up wg0

      - name: Step 3 - Prepare SSH commands
        id: photo-server-ssh
        env:
          PHOTO_SERVER_FILES: ${{ needs.get_changed_files.outputs.photo_server_file_changes }}
        run: |
          PROCESSED_FILES=$(echo "$PHOTO_SERVER_FILES" | tr ',' ' ')
          SSH_COMMANDS="cd ~/infrastructure/ && git reset --hard origin/main && git pull"

          for file in $PROCESSED_FILES; do
            SSH_COMMANDS="$SSH_COMMANDS && echo \"Deploying $file\" && docker compose -f $file up -d --force-recreate --remove-orphans"
          done

          SSH_COMMANDS="$SSH_COMMANDS && docker image prune -a -f && docker system prune -f"

          # publish as step output
          echo "ssh_commands<<'EOF'" >> $GITHUB_OUTPUT
          printf '%s\n' "$SSH_COMMANDS" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Step 4 - Deploy to Photo Server
        uses: jnstockley/gh-ssh-action@v1.0.0-b1
        with:
          host: photo-server.internal.jstockley.com
          username: jackstockley
          private_key: ${{ secrets.SSH_KEY }}
          command: ${{ steps.photo-server-ssh.outputs.ssh_commands }}

  chicago_rpi_deploy:
    name: Deploy new Docker Container to Chicago RPI
    runs-on: ubuntu-latest
    environment: chicago-rpi
    needs: get_changed_files
    if: ${{ needs.get_changed_files.outputs.chicago_rpi_file_changes != '' }}
    steps:
      - name: Step 1 - Checkout code
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98

      - name: Step 2 - WireGuard Connection
        run: |
            sudo apt-get update
            sudo apt-get install -y wireguard resolvconf expect
            echo "${{ secrets.VPN }}" > wg0.conf
            sudo chmod 600 wg0.conf
            sudo cp wg0.conf /etc/wireguard/
            sudo wg-quick up wg0

      - name: Step 3 - Deploy to Chicago RPI
        env:
          CHICAGO_RPI_FILES: ${{ needs.get_changed_files.outputs.chicago_rpi_file_changes }}
          SSH_USER: jackstockley
          SSH_KEY: ${{ secrets.SSH_KEY }}
        run: |
          # Process files and create commands
          PROCESSED_FILES=$(echo "$CHICAGO_RPI_FILES" | tr ',' ' ')
          SSH_COMMANDS="cd ~/infrastructure/ && git reset --hard origin/main && git pull"

          for file in $PROCESSED_FILES; do
            SSH_COMMANDS="$SSH_COMMANDS && echo \"Deploying $file\" && docker compose -f $file up -d --force-recreate --remove-orphans"
          done

          SSH_COMMANDS="$SSH_COMMANDS && docker image prune -a -f && docker system prune -f"

          # Execute the SSH script with properly quoted arguments
          ./scripts/ssh.sh \
            -u "jackstockley" \
            -k "${{ secrets.SSH_KEY }}" \
            -h "192.168.1.83" \
            -c "$SSH_COMMANDS"
