---
name: Docker Compatibility

on:
  pull_request:
    branches:
      - beta
    paths:
      - docker/racknerd/**/compose.yml
      - docker/photo-server/**/compose.yml

jobs:
  docker_compatibility:
    name: Test Docker Images compatibility
    runs-on: ubuntu-latest
    outputs:
      changed_files: ${{ steps.get-changes.outputs.changed_files }}

    steps:
      - name: Step 1 - Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          fetch-depth: 0

      - name: Step 2 - Get changed files between branches
        id: get-changes
        run: ./scripts/diffs-no-merge.sh ${{ github.base_ref }} ${{ github.head_ref }} "docker/racknerd|docker/photo-server"

      - name: Step 3 - Setup Python
        uses: actions/setup-python@v6
        with:
          check-latest: true

      - name: Step 3 - Install uv
        uses: astral-sh/setup-uv@v7

      - name: Step 4 - Install Packages
        run: uv sync --frozen

      - name: Step 5 - Run Tests
        env:
          FILES: ${{ steps.get-changes.outputs.changed_files }}
        run: uv run pytest tests/test_containers.py
