---
name: minecraft
services:
  crafty:
    image: arcadiatechnology/crafty-4:4.6.1
    container_name: crafty
    volumes:
      - ./backups:/crafty/backups
      - ./logs:/crafty/logs
      - ./servers:/crafty/servers
      - ./config:/crafty/app/config
      - ./import:/crafty/import
      - ./healthcheck.py:/crafty/healthcheck.py
      - ./healthcheck.sh:/crafty/healthcheck.sh
    environment:
      - TZ=America/Chicago
    networks:
      - proxy
    restart: unless-stopped
    healthcheck:
      test: /crafty/healthcheck.sh
      interval: 60s
      retries: 5
      start_period: 180s
      timeout: 30s
    labels:
      - traefik.enable=true
      - traefik.http.routers.mc.entrypoints=websecure
      - traefik.http.routers.mc.rule=Host(`mc.jstockley.com`)
      - traefik.http.routers.mc.tls=true
      - traefik.http.routers.mc.tls.certresolver=production
      - traefik.http.routers.mc.service=mc
      - traefik.http.services.mc.loadbalancer.server.port=8443
      - traefik.http.services.mc.loadbalancer.server.scheme=https
      - traefik.http.middlewares.sslheader.headers.customrequestheaders.X-Forwarded-Proto=https
      - traefik.tcp.routers.mc-server.entrypoints=minecraft
      - traefik.tcp.routers.mc-server.rule=HostSNI(`*`)
      - traefik.tcp.routers.mc-server.tls="false"
      - traefik.tcp.services.mc-server.loadbalancer.server.port=25565
      - traefik.tcp.routers.mc-server.service=mc-server
    security_opt:
      - no-new-privileges:true

networks:
  proxy:
    name: proxy
    external: true
